In [2]:
#Importing required libraries:
import pandas as pd
import os

In [3]:
# Define the relative path to the target directory
output_dir = "../Data"

# Ensure the target directory exists
os.makedirs(output_dir, exist_ok=True)

In [4]:
# Read the routes.txt file
file_path = "/workspaces/DRT_App/Assets/DataCleaning/routes.txt" 
routes_df = pd.read_csv(file_path)

# Explicitly create a new DataFrame with only the required columns
cleaned_routes = routes_df[["route_id", "route_short_name", "route_long_name"]].copy()

# Create a new column for the concatenated values
cleaned_routes["route_concat"] = cleaned_routes["route_short_name"].astype(str) + ". " + cleaned_routes["route_long_name"]

# Define a custom sorting key function
def custom_sort_key(route_short_name):
    import re
    match = re.match(r'(\d+)([A-Za-z]*)', route_short_name)
    if match:
        num_part = int(match.group(1))
        alpha_part = match.group(2)
        return (num_part, alpha_part or "")
    return (float('inf'), route_short_name)

# Apply the custom sorting
cleaned_routes["sort_key"] = cleaned_routes["route_short_name"].apply(custom_sort_key)
cleaned_routes = cleaned_routes.sort_values(by="sort_key").drop(columns=["sort_key"])
# Reset the index
cleaned_routes = cleaned_routes.reset_index(drop=True)
cleaned_routes.head(20)

   route_id route_short_name route_long_name    route_concat
0       101              101       Route 101  101. Route 101
1       112              112       Route 112  112. Route 112
2       118              118       Route 118  118. Route 118
3       121              121       Route 121  121. Route 121
4       211              211       Route 211  211. Route 211
5       216              216       Route 216  216. Route 216
6       224              224       Route 224  224. Route 224
7       227              227       Route 227  227. Route 227
8       301              301       Route 301  301. Route 301
9       302              302       Route 302  302. Route 302
10      306              306       Route 306  306. Route 306
11      319              319       Route 319  319. Route 319
12      392              392       Route 392  392. Route 392
13      403              403       Route 403  403. Route 403
14      405              405       Route 405  405. Route 405
15      407              407       Route 407  407. Route 407
16      409              409       Route 409  409. Route 409
17      410              410       Route 410  410. Route 410
18      411              411       Route 411  411. Route 411
19      419              419       Route 419  419. Route 419

In [5]:
# Explicitly create a new DataFrame with only the required columns
cleaned_routes = cleaned_routes[["route_id", "route_short_name", "route_concat"]].copy()

cleaned_routes.rename(columns={"route_short_name": "incoming_bus","route_concat": "route_name"}, inplace=True)

cleaned_routes

   route_id incoming_bus      route_name
0       101          101  101. Route 101
1       112          112  112. Route 112
2       118          118  118. Route 118
3       121          121  121. Route 121
4       211          211  211. Route 211
5       216          216  216. Route 216
6       224          224  224. Route 224
7       227          227  227. Route 227
8       301          301  301. Route 301
9       302          302  302. Route 302
10      306          306  306. Route 306
11      319          319  319. Route 319
12      392          392  392. Route 392
13      403          403  403. Route 403
14      405          405  405. Route 405
15      407          407  407. Route 407
16      409          409  409. Route 409
17      410          410  410. Route 410
18      411          411  411. Route 411
19      419          419  419. Route 419
20      421          421  421. Route 421
21      423          423  423. Route 423
22      502          502  502. Route 502
23      507          507  507. Route 507
24      605          605  605. Route 605
25      900          900  900. PULSE 900
26      901          901  901. PULSE 901
27      902          902  902. Route 902
28      905          905  905. Route 905
29      915          915  915. PULSE 915
30      916          916  916. PULSE 916
31      917          917  917. Route 917
32      920          920  920. Route 920
33      921          921  921. Route 921
34       N1           N1    N1. Route N1
35       N2           N2    N2. Route N2

In [6]:
# Construct the full path for the output file
output_file_path = os.path.join(output_dir, "Routes.txt")

# Optionally save the updated data to a new file
cleaned_routes.to_csv(output_file_path, index=False)

In [7]:
# Read the trips.txt file
file_path_1 = "/workspaces/DRT_App/Assets/DataCleaning/trips.txt"  # Replace with the actual path if needed
trips_df = pd.read_csv(file_path_1)
trips_df.head(30)

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id,shape_id,direction_name,wheelchair_accessible
0,403,Weekday,100__401011_Timetable_-_2025-02,Oshawa Centre Terminal,0,401011_Timetable_-_2025-02,100.0.1046829277_Timetable_-_2025-02,Northbound,1
1,403,Weekday,101__401036_Timetable_-_2025-02,Oshawa Centre Terminal,0,401036_Timetable_-_2025-02,100.0.1046829277_Timetable_-_2025-02,Northbound,1
2,403,Weekday,1025__401068_Timetable_-_2025-02,B - Phillip Murray,1,401068_Timetable_-_2025-02,100.0.1667218438_Timetable_-_2025-02,Southbound,1
3,403,Weekday,1026__401068_Timetable_-_2025-02,B - Phillip Murray,1,401068_Timetable_-_2025-02,100.0.1667218438_Timetable_-_2025-02,Southbound,1
4,403,Weekday,1027__401068_Timetable_-_2025-02,B - Phillip Murray,1,401068_Timetable_-_2025-02,100.0.1667218438_Timetable_-_2025-02,Southbound,1
5,403,Weekday,1028__401030_Timetable_-_2025-02,B - Phillip Murray,1,401030_Timetable_-_2025-02,100.0.1667218438_Timetable_-_2025-02,Southbound,1
6,403,Weekday,1029__401030_Timetable_-_2025-02,B - Phillip Murray,1,401030_Timetable_-_2025-02,100.0.1667218438_Timetable_-_2025-02,Southbound,1
7,403,Weekday,102__401008_Timetable_-_2025-02,Oshawa Centre Terminal,0,401008_Timetable_-_2025-02,100.0.1046829277_Timetable_-_2025-02,Northbound,1
8,403,Weekday,1030__401030_Timetable_-_2025-02,B - Phillip Murray,1,401030_Timetable_-_2025-02,100.0.1667218438_Timetable_-_2025-02,Southbound,1
9,403,Weekday,1031__401030_Timetable_-_2025-02,B - Phillip Murray,1,401030_Timetable_-_2025-02,100.0.1667218438_Timetable_-_2025-02,Southbound,1
10,403,Weekday,1032__401030_Timetable_-_2025-02,B - Phillip Murray,1,401030_Timetable_-_2025-02,100.0.1667218438_Timetable_-_2025-02,Southbound,1
11,403,Weekday,1033__401030_Timetable_-_2025-02,B - Phillip Murray,1,401030_Timetable_-_2025-02,100.0.1667218438_Timetable_-_2025-02,Southbound,1
12,403,Weekday,1034__401068_Timetable_-_2025-02,Oshawa Centre Terminal,0,401068_Timetable_-_2025-02,100.0.1667218439_Timetable_-_2025-02,Northbound,1
13,403,Weekday,1035__401068_Timetable_-_2025-02,Oshawa Centre Terminal,0,401068_Timetable_-_2025-02,100.0.1667218439_Timetable_-_2025-02,Northbound,1
14,403,Weekday,1036__401068_Timetable_-_2025-02,Oshawa Centre Terminal,0,401068_Timetable_-_2025-02,100.0.1667218439_Timetable_-_2025-02,Northbound,1
15,403,Weekday,1037__401068_Timetable_-_2025-02,Oshawa Centre Terminal,0,401068_Timetable_-_2025-02,100.0.1667218439_Timetable_-_2025-02,Northbound,1
16,403,Weekday,1038__401030_Timetable_-_2025-02,Oshawa Centre Terminal,0,401030_Timetable_-_2025-02,100.0.1667218439_Timetable_-_2025-02,Northbound,1
17,403,Weekday,1039__401030_Timetable_-_2025-02,Oshawa Centre Terminal,0,401030_Timetable_-_2025-02,100.0.1667218439_Timetable_-_2025-02,Northbound,1
18,403,Weekday,103__401037_Timetable_-_2025-02,Oshawa Centre Terminal,0,401037_Timetable_-_2025-02,100.0.1046829277_Timetable_-_2025-02,Northbound,1
19,403,Weekday,1040__401030_Timetable_-_2025-02,Oshawa Centre Terminal,0,401030_Timetable_-_2025-02,100.0.1667218439_Timetable_-_2025-02,Northbound,1
20,403,Weekday,1041__401030_Timetable_-_2025-02,Oshawa Centre Terminal,0,401030_Timetable_-_2025-02,100.0.1667218439_Timetable_-_2025-02,Northbound,1
21,403,Weekday,1042__401030_Timetable_-_2025-02,Oshawa Centre Terminal,0,401030_Timetable_-_2025-02,100.0.1667218439_Timetable_-_2025-02,Northbound,1
22,403,Weekday,1043__401030_Timetable_-_2025-02,Oshawa Centre Terminal,0,401030_Timetable_-_2025-02,100.0.1667218439_Timetable_-_2025-02,Northbound,1
23,423,Weekday,1044__401088_Timetable_-_2025-02,Harmony Terminal,0,401088_Timetable_-_2025-02,100.0.1672883331_Timetable_-_2025-02,Northbound,1
24,423,Weekday,1045__401004_Timetable_-_2025-02,Harmony Terminal,0,401004_Timetable_-_2025-02,100.0.1672883331_Timetable_-_2025-02,Northbound,1
25,423,Weekday,1046__401003_Timetable_-_2025-02,Harmony Terminal,0,401003_Timetable_-_2025-02,100.0.1672883331_Timetable_-_2025-02,Northbound,1
26,423,Weekday,1047__401092_Timetable_-_2025-02,Harmony Terminal,0,401092_Timetable_-_2025-02,100.0.1672883331_Timetable_-_2025-02,Northbound,1
27,423,Weekday,1048__401002_Timetable_-_2025-02,Harmony Terminal,0,401002_Timetable_-_2025-02,100.0.1672883331_Timetable_-_2025-02,Northbound,1
28,423,Weekday,1049__401092_Timetable_-_2025-02,Harmony Terminal,0,401092_Timetable_-_2025-02,100.0.1672883331_Timetable_-_2025-02,Northbound,1
29,403,Weekday,104__401017_Timetable_-_2025-02,Oshawa Centre Terminal,0,401017_Timetable_-_2025-02,100.0.1046829277_Timetable_-_2025-02,Northbound,1

In [9]:
# Keep only the first occurrence of each distinct combination of route_id, trip_headsign, and direction_id
SelectDirection_df = trips_df[['route_id', 'trip_id', 'trip_headsign', 'direction_id']] \
    .drop_duplicates(subset=['route_id', 'trip_headsign', 'direction_id'], keep='first') \
    .sort_values(by='route_id')

SelectDirection_df
SelectDirection_df1 = SelectDirection_df.copy()

In [10]:
SelectDirection_df1=SelectDirection_df.copy()
SelectDirection_df

,route_id,trip_id,trip_headsign,direction_id
1505,101,3001__201037_Timetable_-_2025-02,A - Bay Ridges,0
1499,101,2997__201072_Timetable_-_2025-02,Bay Ridges,1
1580,112,32__201033_Timetable_-_2025-02,C - Taunton,0
224,112,1391__201004_Timetable_-_2025-02,Pickering Parkway Terminal,1
2661,118,4767__201085_Timetable_-_2025-02,Pickering Parkway Terminal,1
...,...,...,...,...
3347,921,5387__401045_Timetable_-_2025-02,Harmony Terminal,0
144,N1,1160__291002_Timetable_-_2025-02,Scarborough,1
142,N1,1159__491004_Timetable_-_2025-02,Conlin,0
184,N2,1268__491003_Timetable_-_2025-02,Bloor,1
182,N2,1266__491001_Timetable_-_2025-02,Windfields Farm,0

In [11]:
display = SelectDirection_df[(SelectDirection_df["route_id"] == "4486_88181")]
display

Empty DataFrame
Columns: [route_id, trip_id, trip_headsign, direction_id]
Index: []

In [12]:
# Construct the full path for the output file
output_file_path1 = os.path.join(output_dir, "Towards.txt")

# Save the updated data to a new file
SelectDirection_df.to_csv(output_file_path1, index=False)  #Print this file into assets/data

In [15]:
# Read the Routes.txt file
file_path_2 = "/workspaces/DRT_App/Assets/Data/Routes.txt"  
routes_df = pd.read_csv(file_path_2)

routes_df.head(100)

   route_id incoming_bus      route_name
0       101          101  101. Route 101
1       112          112  112. Route 112
2       118          118  118. Route 118
3       121          121  121. Route 121
4       211          211  211. Route 211
5       216          216  216. Route 216
6       224          224  224. Route 224
7       227          227  227. Route 227
8       301          301  301. Route 301
9       302          302  302. Route 302
10      306          306  306. Route 306
11      319          319  319. Route 319
12      392          392  392. Route 392
13      403          403  403. Route 403
14      405          405  405. Route 405
15      407          407  407. Route 407
16      409          409  409. Route 409
17      410          410  410. Route 410
18      411          411  411. Route 411
19      419          419  419. Route 419
20      421          421  421. Route 421
21      423          423  423. Route 423
22      502          502  502. Route 502
23      507          507  507. Route 507
24      605          605  605. Route 605
25      900          900  900. PULSE 900
26      901          901  901. PULSE 901
27      902          902  902. Route 902
28      905          905  905. Route 905
29      915          915  915. PULSE 915
30      916          916  916. PULSE 916
31      917          917  917. Route 917
32      920          920  920. Route 920
33      921          921  921. Route 921
34       N1           N1    N1. Route N1
35       N2           N2    N2. Route N2

In [16]:
# Merge route_name into trips_df based on route_id
trips_df = trips_df.merge(routes_df[["route_id", "route_name","incoming_bus"]], on='route_id', how='left')
# Organising trips_df
trips_df = trips_df[["trip_id","route_id","incoming_bus","route_name","trip_headsign","direction_id"]].copy()

trips_df.head(30)

,trip_id,route_id,incoming_bus,route_name,trip_headsign,direction_id
0,100__401011_Timetable_-_2025-02,403,403,403. Route 403,Oshawa Centre Terminal,0
1,101__401036_Timetable_-_2025-02,403,403,403. Route 403,Oshawa Centre Terminal,0
2,1025__401068_Timetable_-_2025-02,403,403,403. Route 403,B - Phillip Murray,1
3,1026__401068_Timetable_-_2025-02,403,403,403. Route 403,B - Phillip Murray,1
4,1027__401068_Timetable_-_2025-02,403,403,403. Route 403,B - Phillip Murray,1
5,1028__401030_Timetable_-_2025-02,403,403,403. Route 403,B - Phillip Murray,1
6,1029__401030_Timetable_-_2025-02,403,403,403. Route 403,B - Phillip Murray,1
7,102__401008_Timetable_-_2025-02,403,403,403. Route 403,Oshawa Centre Terminal,0
8,1030__401030_Timetable_-_2025-02,403,403,403. Route 403,B - Phillip Murray,1
9,1031__401030_Timetable_-_2025-02,403,403,403. Route 403,B - Phillip Murray,1
10,1032__401030_Timetable_-_2025-02,403,403,403. Route 403,B - Phillip Murray,1
11,1033__401030_Timetable_-_2025-02,403,403,403. Route 403,B - Phillip Murray,1
12,1034__401068_Timetable_-_2025-02,403,403,403. Route 403,Oshawa Centre Terminal,0
13,1035__401068_Timetable_-_2025-02,403,403,403. Route 403,Oshawa Centre Terminal,0
14,1036__401068_Timetable_-_2025-02,403,403,403. Route 403,Oshawa Centre Terminal,0
15,1037__401068_Timetable_-_2025-02,403,403,403. Route 403,Oshawa Centre Terminal,0
16,1038__401030_Timetable_-_2025-02,403,403,403. Route 403,Oshawa Centre Terminal,0
17,1039__401030_Timetable_-_2025-02,403,403,403. Route 403,Oshawa Centre Terminal,0
18,103__401037_Timetable_-_2025-02,403,403,403. Route 403,Oshawa Centre Terminal,0
19,1040__401030_Timetable_-_2025-02,403,403,403. Route 403,Oshawa Centre Terminal,0
20,1041__401030_Timetable_-_2025-02,403,403,403. Route 403,Oshawa Centre Terminal,0
21,1042__401030_Timetable_-_2025-02,403,403,403. Route 403,Oshawa Centre Terminal,0
22,1043__401030_Timetable_-_2025-02,403,403,403. Route 403,Oshawa Centre Terminal,0
23,1044__401088_Timetable_-_2025-02,423,423,423. Route 423,Harmony Terminal,0
24,1045__401004_Timetable_-_2025-02,423,423,423. Route 423,Harmony Terminal,0
25,1046__401003_Timetable_-_2025-02,423,423,423. Route 423,Harmony Terminal,0
26,1047__401092_Timetable_-_2025-02,423,423,423. Route 423,Harmony Terminal,0
27,1048__401002_Timetable_-_2025-02,423,423,423. Route 423,Harmony Terminal,0
28,1049__401092_Timetable_-_2025-02,423,423,423. Route 423,Harmony Terminal,0
29,104__401017_Timetable_-_2025-02,403,403,403. Route 403,Oshawa Centre Terminal,0

In [18]:
# Read the stop_times.txt file
file_path_3 = "/workspaces/DRT_App/Assets/DataCleaning/stop_times.txt"  
stop_times_df = pd.read_csv(file_path_3)
stop_times_df1 = stop_times_df.copy()
stop_times_df.head(100)

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,timepoint
0,4984__401007_Timetable_-_2025-02,16:29:00,16:29:00,2585,1,NaN,0,0,NaN,1
1,4984__401007_Timetable_-_2025-02,16:31:13,16:31:13,1053,2,NaN,0,0,NaN,0
2,4984__401007_Timetable_-_2025-02,16:33:23,16:33:23,941,3,NaN,0,0,NaN,0
3,4984__401007_Timetable_-_2025-02,16:34:40,16:34:40,942,4,NaN,0,0,NaN,0
4,4984__401007_Timetable_-_2025-02,16:34:59,16:34:59,1286,5,NaN,0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...
95,1760__261026_Timetable_-_2025-02,13:55:33,13:55:33,209,42,NaN,0,0,NaN,0
96,1760__261026_Timetable_-_2025-02,13:56:08,13:56:08,210,43,NaN,0,0,NaN,1
97,1760__261026_Timetable_-_2025-02,13:56:48,13:56:48,211,44,NaN,0,0,NaN,0
98,1760__261026_Timetable_-_2025-02,13:57:42,13:57:42,212,45,NaN,0,0,NaN,0
99,1760__261026_Timetable_-_2025-02,13:58:01,13:58:01,213,46,NaN,0,0,NaN,0

In [19]:
StopTimesPerTrip_df = stop_times_df[["trip_id","stop_id","arrival_time"]].copy()
StopTimesPerTrip_df

                                 trip_id  stop_id arrival_time
0       4984__401007_Timetable_-_2025-02     2585     16:29:00
1       4984__401007_Timetable_-_2025-02     1053     16:31:13
2       4984__401007_Timetable_-_2025-02      941     16:33:23
3       4984__401007_Timetable_-_2025-02      942     16:34:40
4       4984__401007_Timetable_-_2025-02     1286     16:34:59
...                                  ...      ...          ...
155605  1628__201032_Timetable_-_2025-02      326     17:01:43
155606  1628__201032_Timetable_-_2025-02      327     17:02:30
155607  1628__201032_Timetable_-_2025-02      328     17:03:00
155608  1628__201032_Timetable_-_2025-02      329     17:03:27
155609  1628__201032_Timetable_-_2025-02     2576     17:05:00

[155610 rows x 3 columns]

In [20]:
StopTimesPerTrip_df.dtypes

trip_id         object
stop_id          int64
arrival_time    object
dtype: object

In [21]:
# Construct the full path for the output file
output_file_path3 = os.path.join(output_dir, "StopTimesPerTrip.txt")

# Saving stop_times_per_route_df into StopTimesPerRoute.txt
StopTimesPerTrip_df.to_csv(output_file_path3, index=False) #Print this file into assets/data

In [22]:
SelectDirection_df1

,route_id,trip_id,trip_headsign,direction_id
1505,101,3001__201037_Timetable_-_2025-02,A - Bay Ridges,0
1499,101,2997__201072_Timetable_-_2025-02,Bay Ridges,1
1580,112,32__201033_Timetable_-_2025-02,C - Taunton,0
224,112,1391__201004_Timetable_-_2025-02,Pickering Parkway Terminal,1
2661,118,4767__201085_Timetable_-_2025-02,Pickering Parkway Terminal,1
...,...,...,...,...
3347,921,5387__401045_Timetable_-_2025-02,Harmony Terminal,0
144,N1,1160__291002_Timetable_-_2025-02,Scarborough,1
142,N1,1159__491004_Timetable_-_2025-02,Conlin,0
184,N2,1268__491003_Timetable_-_2025-02,Bloor,1
182,N2,1266__491001_Timetable_-_2025-02,Windfields Farm,0

In [23]:
SelectDirection_df1["rout_dir_id_concat"] = (SelectDirection_df1["route_id"] + SelectDirection_df1["direction_id"].astype(str))
# Explicitly create a new DataFrame with only the required columns
SelectDirection_df1 = SelectDirection_df1[["trip_id", "route_id","direction_id", "rout_dir_id_concat"]].copy()

In [24]:
SelectDirection_df1

,trip_id,route_id,direction_id,rout_dir_id_concat
1505,3001__201037_Timetable_-_2025-02,101,0,1010
1499,2997__201072_Timetable_-_2025-02,101,1,1011
1580,32__201033_Timetable_-_2025-02,112,0,1120
224,1391__201004_Timetable_-_2025-02,112,1,1121
2661,4767__201085_Timetable_-_2025-02,118,1,1181
...,...,...,...,...
3347,5387__401045_Timetable_-_2025-02,921,0,9210
144,1160__291002_Timetable_-_2025-02,N1,1,N11
142,1159__491004_Timetable_-_2025-02,N1,0,N10
184,1268__491003_Timetable_-_2025-02,N2,1,N21
182,1266__491001_Timetable_-_2025-02,N2,0,N20

In [25]:
SelectDirection_df1.dtypes

trip_id               object
route_id              object
direction_id           int64
rout_dir_id_concat    object
dtype: object

In [26]:
stop_times_df1

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,timepoint
0,4984__401007_Timetable_-_2025-02,16:29:00,16:29:00,2585,1,NaN,0,0,NaN,1
1,4984__401007_Timetable_-_2025-02,16:31:13,16:31:13,1053,2,NaN,0,0,NaN,0
2,4984__401007_Timetable_-_2025-02,16:33:23,16:33:23,941,3,NaN,0,0,NaN,0
3,4984__401007_Timetable_-_2025-02,16:34:40,16:34:40,942,4,NaN,0,0,NaN,0
4,4984__401007_Timetable_-_2025-02,16:34:59,16:34:59,1286,5,NaN,0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...
155605,1628__201032_Timetable_-_2025-02,17:01:43,17:01:43,326,28,NaN,0,0,NaN,0
155606,1628__201032_Timetable_-_2025-02,17:02:30,17:02:30,327,29,NaN,0,0,NaN,0
155607,1628__201032_Timetable_-_2025-02,17:03:00,17:03:00,328,30,NaN,0,0,NaN,0
155608,1628__201032_Timetable_-_2025-02,17:03:27,17:03:27,329,31,NaN,0,0,NaN,0
155609,1628__201032_Timetable_-_2025-02,17:05:00,17:05:00,2576,32,NaN,0,0,NaN,1

In [27]:
# Read the stop_times.txt file
file_path_4 = "/workspaces/DRT_App/Assets/DataCleaning/stops.txt"  
stops_df = pd.read_csv(file_path_4)
stops_df["stop_full"] = (stops_df["stop_code"].astype(str) +' - '+stops_df["stop_name"])
stops_df.head(100)

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding,preferred,stop_full
0,10,10,Garden Northbound @ Bassett (South stop),NaN,43.903333,-78.941559,NaN,NaN,0,NaN,NaN,1,2,10 - Garden Northbound @ Bassett (South stop)
1,100,100,McQuay Northbound @ Dundas,NaN,43.875932,-78.961715,NaN,NaN,0,NaN,NaN,1,2,100 - McQuay Northbound @ Dundas
2,1000,1000,Glen Northbound @ Medina,NaN,43.872683,-78.855412,NaN,NaN,0,NaN,NaN,1,2,1000 - Glen Northbound @ Medina
3,1001,1001,Northbound @ 825 Glen,NaN,43.875296,-78.856489,NaN,NaN,0,NaN,NaN,1,2,1001 - Northbound @ 825 Glen
4,1002,1002,Malaga Westbound @ Oxford,NaN,43.875507,-78.858799,NaN,NaN,0,NaN,NaN,1,2,1002 - Malaga Westbound @ Oxford
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1169,1169,Bond Westbound @ Park,NaN,43.896215,-78.874631,NaN,NaN,0,NaN,NaN,1,1,1169 - Bond Westbound @ Park
96,117,117,Country Lane Northbound @ Twin Streams,NaN,43.903106,-78.971600,NaN,NaN,0,NaN,NaN,1,2,117 - Country Lane Northbound @ Twin Streams
97,1171,1171,Bond Westbound @ Gibbons,NaN,43.895268,-78.878156,NaN,NaN,0,NaN,NaN,1,2,1171 - Bond Westbound @ Gibbons
98,1172,1172,Bond Westbound @ Stevenson,NaN,43.893883,-78.884232,NaN,NaN,0,NaN,NaN,1,1,1172 - Bond Westbound @ Stevenson
99,1173,1173,King Westbound @ Waverly,NaN,43.892156,-78.888154,NaN,NaN,0,NaN,NaN,1,2,1173 - King Westbound @ Waverly

In [28]:
# Filter stop_times_df2 by trip_id in SelectDirection_df1
filtered_stop_times_df = stop_times_df1[stop_times_df1['trip_id'].isin(SelectDirection_df1['trip_id'])]

# Display the filtered DataFrame
filtered_stop_times_df

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,timepoint
1802,4432__461002_Timetable_-_2025-02,18:53:00,18:53:00,2595,1,NaN,0,0,NaN,1
1803,4432__461002_Timetable_-_2025-02,18:53:58,18:53:58,1287,2,NaN,0,0,NaN,0
1804,4432__461002_Timetable_-_2025-02,18:54:23,18:54:23,1288,3,NaN,0,0,NaN,0
1805,4432__461002_Timetable_-_2025-02,18:54:47,18:54:47,1289,4,NaN,0,0,NaN,0
1806,4432__461002_Timetable_-_2025-02,18:55:37,18:55:37,3228,5,NaN,0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...
153515,4222__201026_Timetable_-_2025-02,07:48:49,07:48:49,2430,23,NaN,0,0,NaN,0
153516,4222__201026_Timetable_-_2025-02,07:50:34,07:50:34,94270,24,NaN,0,0,NaN,0
153517,4222__201026_Timetable_-_2025-02,07:52:29,07:52:29,2443,25,NaN,0,0,NaN,0
153518,4222__201026_Timetable_-_2025-02,07:53:00,07:53:00,2422,26,NaN,0,0,NaN,0
153519,4222__201026_Timetable_-_2025-02,07:54:00,07:54:00,93704,27,NaN,0,0,NaN,1

In [29]:
StopByTrip_df=filtered_stop_times_df.copy()

In [30]:
# Explicitly create a new DataFrame with only the required columns
StopByTrip_df = StopByTrip_df[["trip_id", "stop_id","stop_sequence","stop_headsign","pickup_type","drop_off_type"]].copy()
# Renaming columns
StopByTrip_df.rename(columns={'pickup_type': 'trip_ends','drop_off_type': 'trip_starts'}, inplace=True)
StopByTrip_df

,trip_id,stop_id,stop_sequence,stop_headsign,trip_ends,trip_starts
1802,4432__461002_Timetable_-_2025-02,2595,1,NaN,0,0
1803,4432__461002_Timetable_-_2025-02,1287,2,NaN,0,0
1804,4432__461002_Timetable_-_2025-02,1288,3,NaN,0,0
1805,4432__461002_Timetable_-_2025-02,1289,4,NaN,0,0
1806,4432__461002_Timetable_-_2025-02,3228,5,NaN,0,0
...,...,...,...,...,...,...
153515,4222__201026_Timetable_-_2025-02,2430,23,NaN,0,0
153516,4222__201026_Timetable_-_2025-02,94270,24,NaN,0,0
153517,4222__201026_Timetable_-_2025-02,2443,25,NaN,0,0
153518,4222__201026_Timetable_-_2025-02,2422,26,NaN,0,0
153519,4222__201026_Timetable_-_2025-02,93704,27,NaN,0,0

In [31]:
# Merge stop_times_df with the selected columns from stops_df on stop_id
StopByTrip_df = StopByTrip_df.merge(stops_df, on="stop_id", how="left")
StopByTrip_df = StopByTrip_df.merge(SelectDirection_df1, on="trip_id", how="left")
StopByTrip_df

,trip_id,stop_id,stop_sequence,stop_headsign,trip_ends,trip_starts,stop_code,stop_name,stop_desc,stop_lat,...,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding,preferred,stop_full,route_id,direction_id,rout_dir_id_concat
0,4432__461002_Timetable_-_2025-02,2595,1,NaN,0,0,2595,Oshawa Centre Terminal,NaN,43.889169,...,NaN,0,NaN,NaN,1,2,2595 - Oshawa Centre Terminal,901,0,9010
1,4432__461002_Timetable_-_2025-02,1287,2,NaN,0,0,1287,Eastbound @ 431 Gibb,NaN,43.886764,...,NaN,0,NaN,NaN,1,2,1287 - Eastbound @ 431 Gibb,901,0,9010
2,4432__461002_Timetable_-_2025-02,1288,3,NaN,0,0,1288,Gibb Eastbound @ Grenfell,NaN,43.887267,...,NaN,0,NaN,NaN,1,2,1288 - Gibb Eastbound @ Grenfell,901,0,9010
3,4432__461002_Timetable_-_2025-02,1289,4,NaN,0,0,1289,Gibb Eastbound @ Montrave,NaN,43.887759,...,NaN,0,NaN,NaN,1,2,1289 - Gibb Eastbound @ Montrave,901,0,9010
4,4432__461002_Timetable_-_2025-02,3228,5,NaN,0,0,3228,Gibb Eastbound @ Nassau,NaN,43.888869,...,NaN,0,NaN,NaN,2,2,3228 - Gibb Eastbound @ Nassau,901,0,9010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3682,4222__201026_Timetable_-_2025-02,2430,23,NaN,0,0,2430,Reach Eastbound @ Testa,NaN,44.104464,...,NaN,0,NaN,NaN,1,2,2430 - Reach Eastbound @ Testa,605,0,6050
3683,4222__201026_Timetable_-_2025-02,94270,24,NaN,0,0,94270,Nelkydd Northbound @ Planks,NaN,44.110260,...,NaN,0,NaN,NaN,2,2,94270 - Nelkydd Northbound @ Planks,605,0,6050
3684,4222__201026_Timetable_-_2025-02,2443,25,NaN,0,0,2443,Brock Street Westbound @ Main Street,NaN,44.109472,...,NaN,0,NaN,NaN,1,2,2443 - Brock Street Westbound @ Main Street,605,0,6050
3685,4222__201026_Timetable_-_2025-02,2422,26,NaN,0,0,2422,Toronto Northbound @ Brock Street (North side ...,NaN,44.109303,...,NaN,0,NaN,NaN,1,2,2422 - Toronto Northbound @ Brock Street (Nort...,605,0,6050
3686,4222__201026_Timetable_-_2025-02,93704,27,NaN,0,0,93704,Railway Southbound @ Albert,NaN,44.109644,...,NaN,0,NaN,NaN,2,1,93704 - Railway Southbound @ Albert,605,0,6050

In [32]:
StopByTrip_df.rename(columns={'rout_dir_id_concat': 'concat'}, inplace=True)

In [33]:
StopByTrip_df = StopByTrip_df[["route_id","trip_id","direction_id","concat","stop_id","stop_code", "stop_name","stop_full","stop_headsign","stop_sequence",
                              "stop_lat","stop_lon","trip_starts","trip_ends"]].copy()

In [34]:
StopByTrip_df

,route_id,trip_id,direction_id,concat,stop_id,stop_code,stop_name,stop_full,stop_headsign,stop_sequence,stop_lat,stop_lon,trip_starts,trip_ends
0,901,4432__461002_Timetable_-_2025-02,0,9010,2595,2595,Oshawa Centre Terminal,2595 - Oshawa Centre Terminal,NaN,1,43.889169,-78.877279,0,0
1,901,4432__461002_Timetable_-_2025-02,0,9010,1287,1287,Eastbound @ 431 Gibb,1287 - Eastbound @ 431 Gibb,NaN,2,43.886764,-78.876312,0,0
2,901,4432__461002_Timetable_-_2025-02,0,9010,1288,1288,Gibb Eastbound @ Grenfell,1288 - Gibb Eastbound @ Grenfell,NaN,3,43.887267,-78.874165,0,0
3,901,4432__461002_Timetable_-_2025-02,0,9010,1289,1289,Gibb Eastbound @ Montrave,1289 - Gibb Eastbound @ Montrave,NaN,4,43.887759,-78.872047,0,0
4,901,4432__461002_Timetable_-_2025-02,0,9010,3228,3228,Gibb Eastbound @ Nassau,3228 - Gibb Eastbound @ Nassau,NaN,5,43.888869,-78.867720,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3682,605,4222__201026_Timetable_-_2025-02,0,6050,2430,2430,Reach Eastbound @ Testa,2430 - Reach Eastbound @ Testa,NaN,23,44.104464,-79.109229,0,0
3683,605,4222__201026_Timetable_-_2025-02,0,6050,94270,94270,Nelkydd Northbound @ Planks,94270 - Nelkydd Northbound @ Planks,NaN,24,44.110260,-79.110480,0,0
3684,605,4222__201026_Timetable_-_2025-02,0,6050,2443,2443,Brock Street Westbound @ Main Street,2443 - Brock Street Westbound @ Main Street,NaN,25,44.109472,-79.120325,0,0
3685,605,4222__201026_Timetable_-_2025-02,0,6050,2422,2422,Toronto Northbound @ Brock Street (North side ...,2422 - Toronto Northbound @ Brock Street (Nort...,NaN,26,44.109303,-79.122461,0,0
3686,605,4222__201026_Timetable_-_2025-02,0,6050,93704,93704,Railway Southbound @ Albert,93704 - Railway Southbound @ Albert,NaN,27,44.109644,-79.125063,0,0

In [35]:
# Construct the full path for the output file
output_file_path4 = os.path.join(output_dir, "StopMapLocation.txt")

# Saving stop_times_per_route_df into StopTimesPerRoute.txt
StopByTrip_df.to_csv(output_file_path4, index=False) #Print this file into assets/data